* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 25px;
  border: solid 3px black;
  border-radius: 10px;
  background-color: rgb(69, 122, 215);
}

#contador {
  height: 200px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.btn {
  margin-top: 10px;
  padding: 20px 10px;
  border-style: none;
  background-color: brown;
  border-radius: 10px;
  color: white;
}

.btn:hover {
  background-color: burlywood;
  cursor: pointer;
  color: black;
}
